<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :status, :value => "Done" %>

  <div class="actions">
    <%#= link_to "Download Document", job.document, :class => "btn btn-primary" %>
    <a class="btn btn-primary" href=<%= job.document %>>Download Document</a>
    <%= f.submit "Confirm Printed", :class => "btn btn-success" %>
  </div>
<% end %>