<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What?</h3>
  </div>
  <div class="panel-body row">
    <div class="form-group col-md-5">
      <label for="inputFile">Upload file</label>
      <input class="file_input" id="inputFile" name="attachment[file]" type="file">
      <p class="help-block">Upload a file from your computer</p>
    </div>
    
    <div class="col-md-2"> or </div>

    <div id="upload_file" class="col-md-5"></div>
  </div>
  <div>
    <div class="field">
      <%= f.label :copies %><br>
      <%= f.number_field :copies %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Where?</h3>
  </div>
  <div class="panel-body">
     <iframe width="625" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=47.569986,106.962891&amp;t=h&amp;z=4&amp;output=embed"></iframe>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">When?</h3>
  </div>
  <div class="panel-body">
      <div class="form-group">
    <input class="date_input" id="inputDate" name="inputDate" type="date">
    <p class="help-block">When do you need your document?</p>
  </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>