<%= form_for(@job) do |f| %>
<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="printLabel">Print</h4>
      </div>
      <div class="modal-body">

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3>What?</h3>
<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-5">
      <div class="form-group">
        <label for="inputFile">Upload file</label>
        <input class="file_input" id="inputFile" name="attachment[file]" type="file">
      </div>
      </div>
      <div class="col-md-2"> or </div>

      <div id="upload_file" class="col-md-5"></div>
    </div>

    <div class="field form-group">
      <%= f.label :copies %><br>
      <%= f.number_field :copies %>
    </div>
  </div>
</div>

<h3>Where?</h3>
<div class="panel panel-default">
  <div class="panel-body" id="map-canvas" style="height:400px">
  </div>
</div>

<h3>When?</h3>
<div class="panel panel-default">
  <div class="panel-body">
      <div class="form-group">
    <input class="date_input" id="inputDate" name="inputDate" type="date">
  </div>
  </div>
</div>

<%= f.hidden_field :printer, :value => "[]" %>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
