<%= form_for(@printer) do |f| %>
<div class="modal fade" id="sharePrinterModal" tabindex="-1" role="dialog" aria-labelledby="sharePrinterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="sharePrinterLabel">Share a printer</h4>
      </div>
      <div class="modal-body">
    <% if @printer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@printer.errors.count, "error") %> prohibited this printer from being saved:</h2>

        <ul>
        <% @printer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :rating %><br>
      <%= f.number_field :rating %>
    </div>
    <div class="field">
      <%= f.label :configuration_id %><br>
      <%= f.text_field :configuration_id %>
    </div>
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
